@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 258 90% 66%;
    --primary-foreground: 250 100% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 258 90% 66%;
    --radius: 0.8rem;

    --vis-tooltip-background-color: none !important;
    --vis-tooltip-border-color: none !important;
    --vis-tooltip-text-color: none !important;
    --vis-tooltip-shadow-color: none !important;
    --vis-tooltip-backdrop-filter: none !important;
    --vis-tooltip-padding: none !important;

    --vis-primary-color: var(--primary);
    /* change to any hsl value you want */
    --vis-secondary-color: 160 81% 40%;
    --vis-text-color: var(--muted-foreground);

    ::-webkit-scrollbar {
      @apply w-2 h-2;
    }
    ::-webkit-scrollbar-thumb {
      @apply bg-black/30 rounded-full;
    }
    ::-webkit-scrollbar-track {
      @apply bg-background;
    }
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 90%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 90%;

    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 98%;

    --primary: 258 90% 66%;
    --primary-foreground: 250 100% 98%;

    --secondary: 255 0% 75%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 20%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 69% 67%;
    --destructive-foreground: 351 100% 96%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 25%;
    --ring: 258 90% 66%;

    ::-webkit-scrollbar {
      @apply w-2 h-2;
    }
    ::-webkit-scrollbar-thumb {
      @apply bg-white/30 rounded-full;
    }
    ::-webkit-scrollbar-track {
      @apply bg-background;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-inter;
  }
  h1 {
    @apply text-5xl tracking-tight;
  }
  h2 {
    @apply text-4xl tracking-tight;
  }
  h3 {
    @apply text-3xl tracking-tight;
  }
  h4 {
    @apply text-2xl tracking-tight;
  }
  h5 {
    @apply text-xl tracking-tight;
  }
  h6 {
    @apply text-lg tracking-tight;
  }
}
